@model List<InterviewSite.ViewModels.RecentQuestion>
@{
    ViewBag.Title = "Home";
}
<h2>RECENT QUESTIONS</h2>
<ul class="recent-questions">
    @foreach (var item in Model)
    {
        <li>
            <div class="question">
                <a href="#" class="title">@item.QuestionTitle</a>
                <p class="question-desc">
                    <a href="javascript:void(0)" class="author">@item.AuthorName</a>
                    <a href="javascript:void(0)" class="date">@item.DateTimeShow</a>
                </p>
            </div>
        </li>
    }
</ul>
<a href="/questions/recent" style="color:#2e6da4;float:right;margin-top:20px; margin-right:40px;">View All</a>
@section Styles{
    @Styles.Render("~/css/home")
}

@section Scripts{
    @Scripts.Render("~/js/home")
}
